// 比率
$size: 750/100vw;
@function gvw($px) {
  @return $px / $size
}

#app {
  width: 100px;
}

.test {
  height: gvw(300);
  width: gvw(300);
  background-color: #2AB47D;
  font-style: italic;
  font-size: 12px;
}
